HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
TestToken.java
src/main/resources/application-local.properties
Dockerfile
.dockerignore
docker-compose.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
